<div data-controller="cards"></div>

<div class="row row-cols-1 row-cols-md-6 g-1">
  <% @movies.each do |movie| %>
    <div class="col">
      <div class="card h-100">
        <%= image_tag 'lightblue.png', class: 'card-img-top' %>
        <div class="card-body">
          <span class="bi-star-fill"><%= movie.average_rating %></span>
          <button type="button" class="btn bi-star" data-bs-toggle="modal" data-bs-target="#exampleModal">
          </button>
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Rate this</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <%= movie.name %>
                  <div class="ratings">
                    <a><%= rating_for movie, 'rate', star: 10, star_off: 'star.svg', star_on: 'star-fill.svg', class: 'rating_stars' %></a>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary">Rate</button>
                </div>
              </div>
            </div>
          </div>
          <h6 class="card-title"><%= link_to movie.name, movie %></h6>
          <button class="btn btn-primary">+ Watchlist</button>
          <button class="btn btn-primary">Title</button>
        </div>
      </div>
    </div>
  <% end %>
  
</div>