<div class="row row-cols-1 row-cols-md-6 g-1">
  <div class="col">
    <div class="card h-100">
      <%= image_tag 'lightblue.png', class: 'card-img-top' %>
      <div class="card-body">
        <p>-rating-</p>
        <h6 class="card-title">Movie 1</h6>
        <button class="btn btn-primary">+ Watchlist</button>
        <button class="btn btn-primary">Title</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <%= image_tag 'lightblue.png', class: 'card-img-top' %>
      <div class="card-body">
        <p>-rating-</p>
        <h6 class="card-title">Movie 2</h6>
        <button class="btn btn-primary">+ Watchlist</button>
        <button class="btn btn-primary">Title</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <%= image_tag 'lightblue.png', class: 'card-img-top' %>
      <div class="card-body">
        <p>-rating-</p>
        <h6 class="card-title">Movie 3</h6>
        <button class="btn btn-primary">+ Watchlist</button>
        <button class="btn btn-primary">Title</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <%= image_tag 'lightblue.png', class: 'card-img-top' %>
      <div class="card-body">
        <p>-rating-</p>
        <h6 class="card-title">Movie 4</h6>
        <button class="btn btn-primary">+ Watchlist</button>
        <button class="btn btn-primary">Title</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <%= image_tag 'lightblue.png', class: 'card-img-top' %>
      <div class="card-body">
        <p>-rating-</p>
        <h6 class="card-title">Movie 5</h6>
        <button class="btn btn-primary">+ Watchlist</button>
        <button class="btn btn-primary">Title</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <%= image_tag 'lightblue.png', class: 'card-img-top' %>
      <div class="card-body">
        <p>-rating-</p>
        <h6 class="card-title">Movie 6</h6>
        <button class="btn btn-primary">+ Watchlist</button>
        <button class="btn btn-primary">Title</button>
      </div>
    </div>
  </div>
</div>